.hero {
  height: 1000px;
  background-image: url('/public/back.jpg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.hero-content {
  width: 100%;

}

.hero-content p {
  font-size: 84px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 120px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-left: 40px;
}

.primary {
  background: black;
  color: white;
  padding: 17.5px 30px;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  margin-left: 100px;
}

.primary:hover {
  background-color: rgba(61, 61, 61, 1);
}

.secondary {
  background: transparent;
  border: 3px solid black;
  padding: 15px 30px;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
}

.secondary>img {
  width: 11.774999618530284px;
  height: 20.000000000000018px;
}

.secondary:hover {
  border-color: rgba(61, 61, 61, 1);
}

.praducts {
  display: flex;
  margin-top: 30px;
  gap: 20px;
  margin-left: 8%;
}
  
.praductsText {
  display: flex;
  margin-top: 30px;
  gap: 20px;
  margin-left: 150px;
}

.praductsText strong {
  font-weight: 700;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .hero {
    padding: 200px 60px 40px;
    height: auto;
    min-height: 800px;
  }

  .hero-content p {
    font-size: 64px;
    margin-bottom: 80px;
  }

  .primary {
    margin-left: 0;
  }

}

@media (max-width: 768px) {
  .hero {
    padding: 160px 15px 40px;
    min-height: 700px;
  .praducts
  {
    display: flex;
    right: 80px;
    gap: 15%;
  }
  }

  .hero-content p {
    font-size: 44px;
    margin-bottom: 50px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-left: 0;
  }

  .buttons a {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
  }

  .primary {
    margin-left: 0;
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  .secondary {
    width: 100%;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .praducts {
    display: flex;
    margin-top: 30px;
    gap: 20px;
  }

  .praductsText {
    margin-left: 0;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    z-index: 1;
    position: relative;
  }

  .hero::after {
    z-index: 0;
    content: '';
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, transparent, white);
    pointer-events: none;
  }

}

@media (max-width: 480px) {
  .hero {
    min-height: 600px;
  }

  .hero-content p {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .primary,
  .secondary {
    font-size: 13px;
  }

  .praducts {
    z-index: 1;
    position: relative;
  }


  .praductsText strong {
    text-align: center;
  }

  .praductsText {
    margin-left: 0;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    z-index: 1;
    position: relative;
  }

  .hero::after {
    z-index: 0;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, transparent, white);
    pointer-events: none;
  }
}