.like-page {
  display: flex;
  flex-direction: column;
  padding-top: 220px; 
}

.empty-like {
  flex: 1;
  padding: 80px 40px;
  text-align: center;
}

.empty-like h1 {
  text-align: left;
  font-size: 34px;
  margin-bottom: 120px;
  font-weight: 700;
  margin-left: 8%;
}

.empty-icon {
  color: #9e9e9e;
  display: flex;
  justify-content: center;
}


@media (max-width: 992px) {

  .empty-like h1 {
    font-size: 28px;
    margin-bottom: 80px;
  }

}

@media (max-width: 600px) {
  .empty-like {
    padding: 50px 20px;
  }

  .empty-like h1 {
    font-size: 22px;
    margin-bottom: 60px;
    text-align: center;
  }

  .empty-icon svg {
    width: 70px;
    height: 70px;
  }
}



@media (max-width: 400px) {
  .empty-like h1 {
    font-size: 18px;
  }
}